# General
**/.artifacts/tmp/
**/.docker/data

**/.cache/
**/.DS_Store

*.bk
*.bk.*

*.bak
*.bak.*

*.csv
*.csv.*

*.db
*.db.*

*.db-*.*

*.error
*.error.*

*.gz
*.gz.*

*.log
*.log.*

*.sqlite
*.sqlite.*

*.zip
*.zip.*

## Development Environments

### IntelliJ Idea
**/.idea/

**/*.iml
**/*.iml.*

**/*.iws
**/*.iws.*

### Visual Studio Code

!.vscode/settings.*
!.vscode/launch.*

## Operating Systems

### Nix
!flake.lock

### Windows (WSL2)
**/*:Zone.Identifier

**/.artifacts/data/
**/.docker/data/

# Language Specific

## Rust
**/debug/
**/target/

**/*.bk
**/*.bk.*

!Cargo.lock

## Python
**/__pycache__/
**/.pytest_cache/
**/venv/

**/*.egg
**/*.egg.*

**/*.egg-info

**/*.pyc
**/*.pyc.*

**/*.pyo
**/*.pyo.*

**/*.pyz
**/*.pyz.*

**/*.pyzw
**/*.pyzw.*

**/*.whl
**/*.whl.*

## Node.js
**/.DS_STORE
**/.pnp
**/.pnp.*
**/.vercel
**/build
**/debug
**/dist
**/node_modules

### TypeScript
**/*.tsbuildinfo

### npm
!**/package-lock.json
**/npm-debug.log

### yarn
**/.yarn/install-state.gz
**/yarn-error.log
**/yarn-debug.log

### SvelteKit
**/__sapper__/
**/.svelte-kit/

### Deno
**/deno.json
**/deno.jsonc

### Next.js
**/.next
**/out

**/next-env.d.ts

### Jest
**/.swc
**/coverage

### OpenNext (Cloudflare)
**/.open-next
**/.wrangler
**/.vercel

### Supabase
**/supabase/temp

### Vercel
**/.vercel