[package]
build = "build.rs"
description = "this crate implements the core modules for the concision framework"
name = "concision-core"

authors.workspace = true
categories.workspace = true
edition.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
rust-version.workspace = true
version.workspace = true

[package.metadata.docs.rs]
all-features = false
features = ["full"]
rustc-args = ["--cfg", "docsrs"]
version = "v{{version}}"

[package.metadata.release]
no-dev-version = true
tag-name = "{{version}}"

[lib]
crate-type = ["cdylib", "rlib"]
bench = false
doc = true
doctest = true
test = true

[dependencies]
#  local
concision-init = { optional = true, workspace = true }
concision-params = { workspace = true }
concision-traits = { workspace = true }
concision-utils = {  optional = true, workspace = true }
# custom
variants = { workspace = true }
# concurrency & parallelism
rayon = { optional = true, workspace = true }
# data & serialization
serde = { features = ["derive"], optional = true, workspace = true }
serde_derive = { optional = true, workspace = true }
serde_json = { optional = true, workspace = true }
# error-handling
thiserror = { workspace = true }
# logging
tracing = { optional = true, workspace = true }
# macros & utilities
paste = { workspace = true }
smart-default = { workspace = true }
strum = { workspace = true }
# mathematics
approx = { optional = true, workspace = true }
ndarray = { workspace = true }
num = { workspace = true }
num-complex = { optional = true, workspace = true }
num-traits = { workspace = true }
rustfft = { optional = true, workspace = true }
# random
getrandom = { default-features = false, optional = true, workspace = true }
rand = { optional = true, workspace = true }
rand_distr = { optional = true, workspace = true }

[dev-dependencies]
lazy_static = { workspace = true }

[features]
default = ["std", "utils"]

full = [
  "default",
  "approx",
  "complex",
  "init",
  "json",
  "rand",
  "serde",
  "signal",
  "tracing",
]

nightly = [
  "concision-init?/nightly",
  "concision-params/nightly",
  "concision-traits/nightly",
  "concision-utils?/nightly",
]

# ************* [FF:Features] *************
init = [
  "concision_init",
  "rand",
]

json = ["alloc", "serde", "serde_json"]

signal =[
  "complex",
  "concision-utils?/signal",
  "rustfft",
]

utils = ["concision_utils"]

concision_init = ["dep:concision-init"]

concision_utils = ["dep:concision-utils"]

# ************* [FF:Dependencies] *************
std = [
  "alloc",
  "concision-init?/std",
  "concision-params/std",
  "concision-traits/std",
  "concision-utils?/std",
  "ndarray/std",
  "num/std",
  "num-complex?/std",
  "num-traits/std",
  "rand?/std",
  "rand?/std_rng",
  "serde/std",
  "strum/std",
  "thiserror/std",
  "tracing?/std",
  "variants/std",
]

wasi = [
  "concision-init?/wasi",
  "concision-params/wasi",
  "concision-traits/wasi",
  "concision-utils?/wasi",
]

wasm = [
  "getrandom?/wasm_js",
  "concision-init?/wasm",
  "concision-params/wasm",
  "concision-traits/wasm",
  "concision-utils?/wasm",
]
# ************* [FF:Dependencies] *************
alloc = [
  "concision-init?/alloc",
  "concision-params/alloc",
  "concision-traits/alloc",
  "concision-utils?/alloc",
  "num/alloc",
  "serde?/alloc",
  "serde_json?/alloc",
  "variants/alloc",
]

approx = [
  "dep:approx",
  "concision-init?/approx",
  "concision-params/approx",
  "concision-utils?/approx",
  "ndarray/approx",
]

blas = [
  "concision-init?/blas",
  "concision-params/blas",
  "concision-utils?/blas",
  "ndarray/blas",
]

complex = [
  "dep:num-complex",
  "concision-init?/complex",
  "concision-params/complex",
  "concision-utils?/complex",
]

rand = [
  "dep:rand",
  "dep:rand_distr",
  "concision-init?/rand",
  "concision-params/rand",
  "concision-traits/rand",
  "concision-utils?/rand",
  "num/rand",
  "num-complex?/rand",
  "rng",
]

rayon = [
  "dep:rayon",
  "concision-params/rayon",
  "concision-utils?/rayon",
  "ndarray/rayon",
]

rng = [
  "dep:getrandom",
  "concision-init?/rng",
  "concision-params/rng",
  "concision-traits/rng",
  "concision-utils?/rng",
  "rand?/small_rng",
  "rand?/thread_rng",
]

rustfft = ["dep:rustfft"]

serde = [
  "dep:serde",
  "dep:serde_derive",
  "concision-init?/serde",
  "concision-params/serde",
  "concision-utils?/serde",
  "ndarray/serde",
  "num/serde",
  "num-complex?/serde",
  "rand?/serde",
  "rand_distr?/serde",
]

serde_json = ["dep:serde_json"]

tracing = [
  "concision-init?/tracing",
  "concision-utils?/tracing",
  "dep:tracing",
]

# ************* [Unit Tests] *************
[[test]]
name = "default"

[[test]]
name = "params"
required-features = ["approx", "std"]

[[test]]
name = "traits"
required-features = ["std"]
