name: "Nix"

concurrency:
  cancel-in-progress: false
  group: ${{ github.workflow }}-${{ github.ref }}

on:
  pull_request:
    branches: [main, master]
    types: [opened, ready_for_review, reopened]
  push:
    branches: [main, master]
    tags: [v*.*.*, "*-nightly"]
  release:
    types: [created, edited]
  repository_dispatch:
    types: [nix, nix-build]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Build
        run: nix build
      - name: Check the flake
        run: nix flake check
